<header class="site-header">
	<nav class="site-nav">
		<ul>
			{% for page in site.pages %}
			{% if page.title and page.hide != true %}
			<li>
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
					{{ page.title }}
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</nav>

	{% if site.theme_settings.header_text %}
  <div class="call-out">
    <div class="aurora"></div>
    <div id="node-graph" class="node-graph"></div>
    <div id="sparkle-field" class="sparkle-field"></div>
    <div class="hero-content">
      <img src="profile.png" alt="Profile Pic" class="profile-pic">
      <h1 class="site-title">
        <a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
      </h1>
      {{ site.theme_settings.header_text }}
      <div class="divider"></div>
      <ul class="social-icons">
        {% include icons.html %}
      </ul>
    </div>
  </div>
  {% endif %}
</header>
