<header class="site-header">
  <nav class="site-nav">
    <ul>
      {% for page in site.pages %}
      {% if page.title and page.hide != true %}
      <li>
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
          {{ page.title }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>

  {% if site.theme_settings.header_text %}
  <div class="call-out call-out-compact">
    <div class="aurora"></div>
    <div class="hero-content hero-content-compact">
      <h1 class="site-title">
        <a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
      </h1>
      <div class="divider"></div>
      <h2 class="page-title">{{ page.title }}</h2>
    </div>
  </div>
  {% endif %}
</header>
