// Typography
$font-family-main: 'Raleway', sans-serif;
$font-family-headings: 'Raleway', sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #F6F6F6;
$background-color: #F6F6F6;
$border-color: rgba(246, 246, 246, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #2B2B2B;
$link-color: #DE1B1B;
$selection-color: #F6F6F6; // visible when highlighting text

// Header colours
$header-link-color: #2B2B2B;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #DE1B1B;
$header-desc-text-color: #FFF;
